Repository Morgy93/foodsharing-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Path conditions:
  build:backend-dev: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or ((any of: websocket/**/*) or (any of: docs/**/*, scripts/**/*))))
  build:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:backend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:docs: any of: docs/**/*, scripts/**/*
  test:backend-code: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: src/**/*, config/**/*)
  test:backend-acceptance: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  test:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: client/**/*)
  test:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: websocket/**/*)

Follow-up from Search improvements
  CHANGELOG.md
  client/src/components/SearchBar/ResultEntry/UserResultEntry.vue
  client/src/components/SearchBar/SearchResults.vue
  client/src/views/partials/Modals/SearchBarModal.vue
  src/Modules/Search/DTO/ChatSearchResult.php
  src/Modules/Search/DTO/MixedSearchResult.php
  src/Modules/Search/DTO/RegionSearchResult.php
  src/Modules/Search/DTO/UserSearchResult.php
  src/Modules/Search/DTO/WorkingGroupSearchResult.php
  src/Modules/Search/SearchGateway.php
  src/Modules/Search/SearchTransactions.php
  tests/Unit/SearchGatewayTest.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

create REST API Enpoint FoodSharePoint on Map
  CHANGELOG.md
  src/RestApi/MapRestController.php
  src/RestApi/Models/Map/FoodSharePointBubbleData.php
  tests/Api/MapApiCest.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

test(e2e): update playwright config
  CHANGELOG.md
  tests/e2e/playwright.config.ts
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

[#1754] migrate WelcomeCept
  CHANGELOG.md
  tests/Acceptance/WelcomeCept.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Resolve "Display Orga rights on the profile page"
  CHANGELOG.md
  release-notes/2023-12.md
  src/Modules/Profile/ProfileView.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

[#1754] migrate PagesCept
  CHANGELOG.md
  tests/Acceptance/PagesCept.php
  tests/e2e/specs/essenskoerbe.spec.ts
  tests/e2e/specs/karte.spec.ts
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

[#1754] migrate BusinessCardControlCest
  CHANGELOG.md
  tests/Acceptance/BusinessCardControlCest.php
  tests/e2e/specs/bcard.spec.ts
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

fix(register): show label for required phone number
  CHANGELOG.md
  src/Modules/Register/components/RegisterMobilephone.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Translated using Weblate (Turkish)
  translations/messages.tr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (English)
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

docs: update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: docs/package.json & docs/yarn.lock to reduce vulnerabilities
  docs/package.json
  docs/yarn.lock
Due: build:backend-dev, build:docs

fix: upgrade @docusaurus/module-type-aliases from 2.2.0 to 2.4.3
  docs/package.json
  docs/yarn.lock
Due: build:backend-dev, build:docs

fix: upgrade remark-kroki from 0.2.7 to 0.2.12
  docs/package.json
  docs/yarn.lock
Due: build:backend-dev, build:docs

fix: upgrade sass from 1.55.0 to 1.69.5
  client/package.json
  client/yarn.lock
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

fix: upgrade multiple dependencies with Snyk
  client/package.json
  client/yarn.lock
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

fix: client/package.json & client/yarn.lock to reduce vulnerabilities
  client/package.json
  client/yarn.lock
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

fix: websocket/package.json & websocket/yarn.lock to reduce vulnerabilities
  websocket/package.json
  websocket/yarn.lock
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:websocket
