Repository Morgy93/foodsharing-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Path conditions:
  build:backend-dev: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or ((any of: websocket/**/*) or (any of: docs/**/*, scripts/**/*))))
  build:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:backend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:docs: any of: docs/**/*, scripts/**/*
  test:backend-code: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: src/**/*, config/**/*)
  test:backend-acceptance: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  test:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: client/**/*)
  test:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: websocket/**/*)

Translated using Weblate (Dutch)
  translations/messages.nl.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Norwegian Bokmål)
  translations/messages.nb_NO.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Spanish)
  translations/messages.es.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Turkish)
  translations/messages.tr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Italian)
  translations/messages.it.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (English)
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (French)
  translations/messages.fr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Czech)
  translations/messages.cs.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translations update from Hosted Weblate
  translations/messages.cs.yml
  translations/messages.el.yml
  translations/messages.en.yml
  translations/messages.es.yml
  translations/messages.fr.yml
  translations/messages.it.yml
  translations/messages.lb.yml
  translations/messages.nb_NO.yml
  translations/messages.nl.yml
  translations/messages.pt.yml
  translations/messages.ru.yml
  translations/messages.tr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Buddy Name Adjustment
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Fix file path of old email attachments
  CHANGELOG.md
  src/Modules/Mailbox/MailboxTransactions.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Display distance in applicant modal
  CHANGELOG.md
  client/src/components/Modals/Store/StoreApplications.vue
  release-notes/2023-12.md
  src/Modules/Store/StoreGateway.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Refactored the list of editable content to vue
  CHANGELOG.md
  client/src/api/content.js
  client/src/helper/urls.js
  release-notes/2023-12.md
  src/Modules/Content/Content.js
  src/Modules/Content/ContentControl.php
  src/Modules/Content/ContentGateway.php
  src/Modules/Content/DTO/Content.php
  src/Modules/Content/components/ContentList.vue
  src/RestApi/ContentRestController.php
  tests/api/ContentApiCest.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

update backend code quality tools
  .gitlab-ci.yml
  .php-cs-fixer.php
  CHANGELOG.md
  composer.json
  composer.lock
  migrations/20200613224340_region_workgroup_function.php
  run.php
  scripts/__common.sh
  scripts/ci-backend-build
  scripts/ci-backend-build-dev
  scripts/lint-php
  src/Modules/Foodsaver/FoodsaverControl.php
  src/Modules/Message/MessageGateway.php
  src/Modules/PushNotification/Notification/MessagePushNotification.php
  src/Modules/PushNotification/PushNotificationHandlers/AndroidPushHandler.php
  src/Modules/Search/SearchGateway.php
  src/Modules/Statistics/StatisticsGateway.php
  src/Modules/Store/PickupGateway.php
  src/RestApi/GroupRestController.php
  src/RestApi/MailboxRestController.php
  src/RestApi/StoreRestController.php
  src/Utility/RouteHelper.php
  src/Utility/Sanitizer.php
  tests/acceptance/WallPostCest.php
  tests/api/StoreChainApiCest.php
  tests/unit/MailActivationTest.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

several small improvements to messages.de.yml
  CHANGELOG.md
  docs/docs/glossary/foodsharing.md
  tests/acceptance/CanCreateBusinessCardAsFoodsaverCept.php
  tests/acceptance/FoodsaverCanJoinRegionCept.php
  tests/acceptance/JoinHomeDistrictDashboardBannerCept.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Add the Symfony Profiler
  CHANGELOG.md
  bin/console
  client/serve.config.js
  composer.json
  composer.lock
  config.inc.dev.php
  config.inc.test.php
  config/bundles.php
  config/packages/services.yaml
  config/packages/web_profiler.yaml
  config/routes/dev/web_profiler.yaml
  phpinfo.php
  scripts/ci-backend-build
  src/Debug/Whoops.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Port ContentControl to Symfony
  CHANGELOG.md
  client/src/helper/urls.js
  client/src/views/pages/Index/Index.vue
  config/routes/content.yaml
  config/routes/special.yaml
  migrations/20200523143314_initial_migration.php
  public/security.txt
  public/sw.js
  release-notes/2020-05.md
  release-notes/2020-08.md
  release-notes/2020-10.md
  release-notes/2020-12.md
  release-notes/2021-03.md
  src/Lib/Routing.php
  src/Modules/Content/ContentControl.php
  src/Modules/Content/ContentController.php
  src/Modules/Settings/SettingsTransactions.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket
