Repository Morgy93/foodsharing-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Path conditions:
  build:backend-dev: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or ((any of: websocket/**/*) or (any of: docs/**/*, scripts/**/*))))
  build:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:backend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:docs: any of: docs/**/*, scripts/**/*
  test:backend-code: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: src/**/*, config/**/*)
  test:backend-acceptance: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  test:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: client/**/*)
  test:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: websocket/**/*)

add when@dev to rate_limiter.yaml
  config/packages/rate_limiter.yaml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Beta login fix
  CHANGELOG.md
  config/packages/rate_limiter.yaml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

mailbox follow up
  CHANGELOG.md
  client/src/components/Mailbox/MailboxNewAndAnswer.vue
  client/src/components/Mailbox/MailboxSingleEmailView.vue
  client/src/components/Mailbox/MailboxView.vue
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

update php deployer
  CHANGELOG.md
  deployer/composer.json
  deployer/composer.lock
Due: none

Create FeatureToggle for Achievements
  CHANGELOG.md
  src/Modules/Development/FeatureToggles/Enums/FeatureToggleDefinitions.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Add database table structure for fs_achievement and fs_foodsaver_has_achievement
  CHANGELOG.md
  migrations/20231117140145_add_achievement_base_tables.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Refactor Basket creation and allow choosing different address
  CHANGELOG.md
  client/src/api/baskets.js
  client/src/components/Basket/BasketLocationMap.vue
  client/src/components/Basket/BasketsLocationMap.vue
  client/src/components/Basket/EditForm.vue
  client/src/components/Basket/RequestForm.vue
  client/src/components/Container/basket/BasketField.vue
  client/src/components/Navigation/Baskets/NavBaskets.vue
  client/src/components/Navigation/Baskets/NavBasketsEntry.vue
  client/src/components/upload/FileUpload.vue
  client/src/views/partials/Modals/AddBasketModal.vue
  release-notes/2023-12.md
  src/Modules/Basket/Basket.js
  src/Modules/Basket/BasketGateway.php
  src/Modules/Basket/BasketTransactions.php
  src/Modules/Basket/BasketView.php
  src/Modules/Basket/BasketXhr.php
  src/Modules/Basket/DTO/Basket.php
  src/RestApi/BasketRestController.php
  tests/acceptance/FoodBasketCreateCept.php
  tests/acceptance/TimezoneIsEuropeBerlinCept.php
  tests/api/BasketApiCest.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

store slot follow up
  CHANGELOG.md
  client/src/components/Stores/Pickup/TakenSlot.vue
  client/src/stores/stores.js
  client/src/views/pages/Store/StorePage.vue
  release-notes/2023-12.md
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Spanish)
  translations/messages.es.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (English)
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Norwegian Bokmål)
  translations/messages.nb_NO.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (French)
  translations/messages.fr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Greek)
  translations/messages.el.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Italian)
  translations/messages.it.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Russian)
  translations/messages.ru.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Turkish)
  translations/messages.tr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Czech)
  translations/messages.cs.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Dutch)
  translations/messages.nl.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Luxembourgish)
  translations/messages.lb.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Portuguese)
  translations/messages.pt.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Only show last activity if user is allowed to see it
  CHANGELOG.md
  src/Modules/Profile/ProfileView.php
  src/Modules/Profile/components/ProfileInfos.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

add store log to create or update pickup
  CHANGELOG.md
  client/src/components/Stores/StoreLog.vue
  client/src/components/Stores/StoreLogEntryMessage.vue
  client/src/stores/stores.js
  release-notes/2023-12.md
  src/Modules/Core/DBConstants/Store/StoreLogAction.php
  src/RestApi/PickupRestController.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Quote answered post in forum
  CHANGELOG.md
  release-notes/2023-12.md
  src/Modules/Region/components/Thread.vue
  src/Modules/Region/components/ThreadForm.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

[🧪] add playwright
  .gitignore
  .gitlab-ci.yml
  CHANGELOG.md
  package-lock.json
  package.json
  playwright.config.ts
  scripts/ci-frontend-test-playwright
  tests/e2e/homepage.spec.ts
Due: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

(fixes region bubbles on the map) Routing: use direct ::class references, split tables between Control and Xhr
  CHANGELOG.md
  src/Lib/Routing.php
  tests/unit/RouterReturnsCorrectClassNameTest.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Resolve Confidential
  CHANGELOG.md
  src/Lib/Session.php
  src/Modules/Store/StoreControl.php
  src/Permissions/ForumPermissions.php
  src/Permissions/RegionPermissions.php
  src/Permissions/SearchPermissions.php
  src/RestApi/GroupRestController.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Resolve "Long names are shown double on ID card"
  CHANGELOG.md
  src/Modules/PassportGenerator/PassportGeneratorTransaction.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

test(e2e): update playwright to 1.40.1
  .gitlab-ci.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

test(e2e): add eslint, husky, prettier and documentation for playwright tests
  .gitignore
  .gitlab-ci.yml
  CHANGELOG.md
  docs/docs/frontend/testing.md
  package-lock.json
  package.json
  scripts/ci-frontend-test-playwright
  tests/e2e/.eslintrc.cjs
  tests/e2e/.husky/pre-commit
  tests/e2e/package-lock.json
  tests/e2e/package.json
  tests/e2e/playwright.config.ts
  tests/e2e/specs/homepage.spec.ts
Due: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translate German Terms to English
  CHANGELOG.md
  config/routes/content.yaml
  src/Modules/Content/ContentController.php
  src/Modules/Core/DBConstants/Content/ContentId.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Resolve "missing replacement of variables on page fairteiler"
  CHANGELOG.md
  templates/partials/listFoodSharePointsForRegion.html.twig
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket
