Repository Morgy93/foodsharing-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Path conditions:
  build:backend-dev: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or ((any of: websocket/**/*) or (any of: docs/**/*, scripts/**/*))))
  build:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:backend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:docs: any of: docs/**/*, scripts/**/*
  test:backend-code: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: src/**/*, config/**/*)
  test:backend-acceptance: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  test:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: client/**/*)
  test:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: websocket/**/*)

disable send button in NewThread.vue if body and title is empty
  CHANGELOG.md
  src/Modules/Region/components/NewThread.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

fix memberlist: user role was undefined
  CHANGELOG.md
  client/src/stores/regions.js
  src/Modules/Region/components/MemberList.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend

store follow up
  CHANGELOG.md
  client/src/components/Modals/Store/StoreApplications.vue
  client/src/components/Stores/PickupList.vue
  client/src/components/Stores/StoreTeam/StoreTeam.vue
  client/src/views/pages/Store/StorePage.vue
  src/Permissions/StorePermissions.php
  src/RestApi/StoreRestController.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Remove migration to remove linebreaks in forum posts
  CHANGELOG.md
  src/Modules/Migrate/MigrateControl.php
  src/Modules/Migrate/MigrateGateway.php
  tests/cli/MigrateCept.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Additional fixes in the search permissions
  CHANGELOG.md
  src/Modules/Search/SearchTransactions.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

fix profile photo path in buddy request bells
  src/Modules/Buddy/BuddyTransactions.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Translated using Weblate (French)
  translations/messages.fr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Norwegian Bokmål)
  translations/messages.nb_NO.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (English)
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Italian)
  translations/messages.it.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Turkish)
  translations/messages.tr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

fix buddy bell creation
  src/Modules/Buddy/BuddyTransactions.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

add avatar--50 class to Avatar.vue
  CHANGELOG.md
  client/src/components/Avatar.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

store follow up
  CHANGELOG.md
  client/src/components/Modals/Store/StoreApplications.vue
  client/src/components/Modals/Store/StoreInformationModal.vue
  client/src/components/Stores/StoreOptions.vue
  client/src/components/Stores/StoreWall.vue
  client/src/stores/user.js
  client/src/views/pages/Store/StorePage.vue
  src/RestApi/StoreRestController.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Release notes "Jackfrucht"
  client/src/views/partials/Footer/Footer.vue
  release-notes/2023-08.md
  src/Modules/Content/ContentControl.php
  src/Modules/Content/components/ReleaseNotesEntry.vue
  translations/messages.de.yml
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

show beta or dev in Logo
  CHANGELOG.md
  client/src/components/Navigation/Logo.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

store follow up
  CHANGELOG.md
  client/src/components/Modals/Store/PickupModal.vue
  client/src/components/Stores/PickupList.vue
  client/src/components/Stores/StoreOptions.vue
  client/src/components/Stores/StoreTeam/StoreTeam.vue
  client/src/views/pages/Store/StorePage.vue
  src/Modules/Store/StoreTransactions.php
  src/Permissions/StorePermissions.php
  src/RestApi/StoreRestController.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend

Fix the collapse wrapper in settings module
  CHANGELOG.md
  src/Modules/Settings/Settings.js
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

add translation strings for future bell update
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Open the store team request modal after clicking on a bell
  CHANGELOG.md
  client/src/components/Modals/Store/StoreApplications.vue
  client/src/views/pages/Store/StorePage.vue
  src/Modules/Store/StoreTransactions.php
  src/Modules/StoreUser/StoreUserController.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend

Let the region chooser forget previous selections
  CHANGELOG.md
  client/src/views/partials/Modals/JoinRegionModal.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

Update messages.de.yml
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

fix store to allowedToMentionInPublic
  client/src/components/Stores/StoreInfos.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

fix store test
  tests/acceptance/StoreCest.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

add userId to bbb conference name
  CHANGELOG.md
  src/RestApi/GroupRestController.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Update RegionAdminView.php, added missing " which leaded to a bug in RegionAdminView
  src/Modules/RegionAdmin/RegionAdminView.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

truncate only if title is longer than 150 characters
  CHANGELOG.md
  src/Modules/Region/components/Thread.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

follow up for release notes jackfruit
  release-notes/2023-08.md
  translations/messages.de.yml
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

cleanup for changelog
  CHANGELOG.md
Due: none

add release jackfruit in CHANGELOG.md
  CHANGELOG.md
Due: none

Revert "Changed persistent cookie timespan from 14 days to 38 years"
  CHANGELOG.md
  docs/docs/roadmap.md
  src/Lib/Session.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance
