Repository Morgy93/foodsharing-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Path conditions:
  build:backend-dev: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or ((any of: websocket/**/*) or (any of: docs/**/*, scripts/**/*))))
  build:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:backend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:docs: any of: docs/**/*, scripts/**/*
  test:backend-code: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: src/**/*, config/**/*)
  test:backend-acceptance: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  test:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: client/**/*)
  test:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: websocket/**/*)

added a checkbox doesNotAffectStore in report form
  CHANGELOG.md
  src/Modules/Profile/components/ReportRequest.vue
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

release notes follow-up 09-2023
  client/src/views/partials/Footer/Footer.vue
  release-notes/2023-08.md
  src/Modules/Content/components/ReleaseNotesEntry.vue
  translations/messages.de.yml
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

renaming release notes to 2023-09
  release-notes/2023-09.md
  src/Modules/Content/ContentControl.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

update CHANGELOG.md
  CHANGELOG.md
Due: none

update release banner
  client/src/components/Banners/Release/Release.json
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

Fix SKIP_CI_TESTS in gitlab CI
  .gitlab-ci.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

fix release banner
  CHANGELOG.md
  client/src/components/Banners/Release/ReleaseField.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

More infos for release banner on dashboard
  client/src/components/Banners/Release/ReleaseField.vue
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

add console.log to debug isNew in ReleaseField.vue
  client/src/components/Banners/Release/ReleaseField.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

show Release Banner also on beta
  client/src/components/Banners/Release/ReleaseField.vue
  client/src/views/pages/Dashboard/Dashboard.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

fix store permission for orga user
  CHANGELOG.md
  src/Permissions/StorePermissions.php
  src/RestApi/StoreRestController.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

fix sleeping hat state for regions and groups admins
  CHANGELOG.md
  src/Modules/Foodsaver/FoodsaverGateway.php
  src/Modules/Region/RegionControl.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

preparing for next release 2023-12
  .gitlab/merge_request_templates/Default.md
  CHANGELOG.md
  release-notes/2023-12.md
Due: none

change team state
  CHANGELOG.md
  client/src/components/Modals/Store/StoreInformationModal.vue
  release-notes/2023-12.md
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Use REST for quickreplying to wall posts
  CHANGELOG.md
  client/src/api/wall.js
  client/src/components/Container/activity/ActivityPost.vue
  src/Entrypoint/XhrAppController.php
  src/Modules/Activity/ActivityTransactions.php
  src/Modules/Activity/DTO/ActivityUpdate.php
  src/Modules/WallPost/WallPostXhr.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend

Clean up some core code (Control, IndexController, etc)
  CHANGELOG.md
  config/packages/services.yaml
  config/routes/framework.yaml
  docs/docs/backend/php/php-controller-migration.md
  src/Entrypoint/IndexController.php
  src/Entrypoint/XhrController.php
  src/EventSubscriber/RenderControllerSetupSubscriber.php
  src/Lib/Caching.php
  src/Lib/FoodsharingController.php
  src/Lib/Routing.php
  src/Modules/Basket/BasketControl.php
  src/Modules/Blog/BlogControl.php
  src/Modules/Content/ContentControl.php
  src/Modules/Core/Control.php
  src/Modules/Event/EventControl.php
  src/Modules/FoodSharePoint/FoodSharePointControl.php
  src/Modules/Profile/ProfileControl.php
  src/Modules/Quiz/QuizControl.php
  src/Modules/Quiz/QuizView.php
  src/Modules/Settings/SettingsControl.php
  src/Modules/StoreUser/StoreUserControl.php
  src/Modules/Team/TeamControl.php
  src/Modules/Team/TeamXhr.php
  src/Modules/WallPost/WallPostXhr.php
  src/Utility/PageHelper.php
  src/Utility/PostHelper.php
  src/Utility/RouteHelper.php
  src/Utility/UriHelper.php
  src/Utility/WebpackHelper.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance

Resolve "Add "call" (tel:) button visibility also for desktop, not only mobile"
  CHANGELOG.md
  client/src/components/Stores/StoreTeam/StoreTeam.vue
  release-notes/2023-12.md
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

Migrate Database layer from PDO to DBAL
  CHANGELOG.md
  composer.json
  composer.lock
  config.inc.php
  config/bundles.php
  config/packages/framework.yaml
  config/packages/services.yaml
  src/Lib/Db/Db.php
  src/Lib/Xhr/XhrMethods.php
  src/Modules/Core/Database.php
  src/Modules/Report/ReportGateway.php
  tests/_support/Helper/Container.php
  tests/unit/EmojiTest.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

removed CHANGELOG.md merge=union
  .gitattributes
  CHANGELOG.md
Due: none

Translated using Weblate (Norwegian Bokmål)
  translations/messages.nb_NO.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Turkish)
  translations/messages.tr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (French)
  translations/messages.fr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Czech)
  translations/messages.cs.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Spanish)
  translations/messages.es.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Portuguese)
  translations/messages.pt.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (English)
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Luxembourgish)
  translations/messages.lb.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Greek)
  translations/messages.el.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Russian)
  translations/messages.ru.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Added translation using Weblate (Portuguese)
  translations/messages.pt.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Italian)
  translations/messages.it.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket
