Repository Morgy93/foodsharing-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

build:backend-dev:
  image: registry.gitlab.com/foodsharing-dev/images/php:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  script:
  - ./scripts/ci-backend-build-dev
  cache:
    key: backend:build:cache
    paths:
    - .php-cs-fixer.php.cache
  artifacts:
    expire_in: 1 day
    paths:
    - assets
    - vendor

build:websocket:
  image: registry.gitlab.com/foodsharing-dev/images/node:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  script:
  - (cd websocket && yarn && yarn lint)
  artifacts:
    expire_in: 1 day
    paths:
    - websocket/node_modules

build:frontend:
  image: registry.gitlab.com/foodsharing-dev/images/node:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  script:
  - (cd client && yarn && yarn lint && yarn build)
  cache:
    key: frontend:build:cache
    paths:
    - client/node_modules
  artifacts:
    expire_in: 1 day
    paths:
  ...

build:backend:
  image: registry.gitlab.com/foodsharing-dev/images/php:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  script:
  - ./scripts/ci-backend-build
  cache:
    key: backend:build:cache
    paths:
    - .php-cs-fixer.php.cache
  artifacts:
    expire_in: 1 day
    paths:
    - assets
    - vendor

build:docs:
  image: registry.gitlab.com/foodsharing-dev/images/docs:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_INITDB_SKIP_TZINFO: 1
  services:
  - name: registry.gitlab.com/foodsharing-dev/images/mariadb:latest
    alias: db
  script:
  ...

test:backend-code:
  image: registry.gitlab.com/foodsharing-dev/images/php:latest
  tags:
  - saas-linux-medium-amd64
  stage: test
  interruptible: true
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_INITDB_SKIP_TZINFO: 1
    TZ: Europe/Berlin
    FF_NETWORK_PER_BUILD: 1
    REDIS_HOST: redis
    FS_ENV: test
    XDEBUG_MODE: coverage
  ...

test:backend-acceptance:
  image: registry.gitlab.com/foodsharing-dev/images/php:latest
  tags:
  - foodsharing-test
  stage: test
  interruptible: true
  timeout: 60 minutes
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_INITDB_SKIP_TZINFO: 1
    TZ: Europe/Berlin
    FF_NETWORK_PER_BUILD: 1
    REDIS_HOST: redis
    FS_ENV: test
  services:
  ...

test:frontend:
  image: registry.gitlab.com/foodsharing-dev/images/node:latest
  tags:
  - saas-linux-medium-amd64
  stage: test
  interruptible: true
  variables:
    REDIS_HOST: redis
  script:
  - (cd client && yarn && yarn test)
  needs:
  - build:frontend
  cache:
    key: frontend:build:cache
    paths:
    - client/node_modules

Translated using Weblate (French)
  translations/messages.fr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (English)
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Norwegian Bokmål)
  translations/messages.nb_NO.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Fix deprecation for null in strtolower
  CHANGELOG.md
  src/Modules/Mails/MailsControl.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Resolve "Can't change the region of a store"
  CHANGELOG.md
  client/src/components/regiontree/RegionTreeVForm.vue
  src/Modules/StoreUser/components/StoreInformationModal.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend

Resolve "SecurityError: CSSStyleSheet.cssRules getter: Not allowed to access cross-origin stylesheet"
  CHANGELOG.md
  client/src/components/Navigation/_NavItems/NavItem.vue
  client/src/mixins/RouteAndDeviceCheckMixin.js
  client/src/views/partials/Navigation/Data/MetaNavData.json
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

Show store chain information on store page
  CHANGELOG.md
  src/Modules/StoreChain/StoreChainGateway.php
  src/Modules/StoreUser/StoreUserControl.php
  src/Modules/StoreUser/components/StoreInfos.vue
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

[#79] add home district count to region top
  CHANGELOG.md
  src/Modules/Region/RegionControl.php
  src/Modules/Region/RegionGateway.php
  templates/pages/Region/regionTop.twig
  translations/messages.de.yml
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

updated storage handling for map
  CHANGELOG.md
  src/Modules/Map/Map.js
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

fix wrong sleeping hat state
  CHANGELOG.md
  src/Modules/Region/ForumGateway.php
  src/RestApi/RestNormalization.php
  src/Utility/DataHelper.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Resolve "TypeError: undefined is not an object (evaluating 'e.selectedRegion.name')"
  CHANGELOG.md
  client/src/components/regiontree/RegionTreeVForm.vue
  client/src/views/partials/Modals/JoinRegionModal.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

update cache after bell mark as read
  CHANGELOG.md
  client/src/stores/bells.js
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

changed the icon for release icecream
  translations/messages.de.yml
  translations/messages.en.yml
  translations/messages.fr.yml
  translations/messages.tr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Resolve "Feedback with small bugfixes and improvment for store chain"
  CHANGELOG.md
  client/src/views/pages/ChainList/ChainList.vue
  src/Modules/StoreChain/StoreChainTransactionException.php
  src/Modules/StoreChain/StoreChainTransactions.php
  tests/api/StoreChainApiCest.php
  translations/messages.de.yml
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Add Text Field to Pickup Slots
  .gitignore
  CHANGELOG.md
  client/src/api/pickups.js
  client/src/components/Container/pickup/PickupField.vue
  client/src/scss/shame-old-style-corrections.scss
  migrations/20230708064039_add_description_to_pickups.php
  phpstan.neon
  src/Modules/Profile/components/PickupTable.vue
  src/Modules/Store/DTO/OneTimePickup.php
  src/Modules/Store/DTO/RegularPickup.php
  src/Modules/Store/PickupGateway.php
  src/Modules/Store/PickupValidationException.php
  src/Modules/Store/RegularPickupGateway.php
  src/Modules/Store/StoreTransactions.php
  src/Modules/Store/StoreXhr.php
  src/Modules/StoreUser/components/AddPickupModal.vue
  src/Modules/StoreUser/components/Pickup.vue
  src/Modules/StoreUser/components/PickupList.vue
  src/Modules/StoreUser/components/RegularPickup.vue
  src/RestApi/PickupRestController.php
  tests/api/PickupApiCest.php
  tests/unit/StoreTransactionsTest.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

do not use cache after delete a bell
  CHANGELOG.md
  client/src/stores/bells.js
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

Resolve "Error: Typed property Foodsharing\Modules\WallPost\WallPostXhr::$table must not be accessed before initi..."
  CHANGELOG.md
  src/Modules/Report/Report.js
  src/Modules/Report/ReportControl.php
  src/Modules/WallPost/WallPostGateway.php
  src/Permissions/WallPostPermissions.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Resolve "TypeError: Failed to execute 'observe' on 'ResizeObserver': parameter 1 is not of type 'Element'."
  CHANGELOG.md
  client/src/components/map/LeafletMap.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

symptom treatment: catch if no bell was found, set isCloseable to false
  CHANGELOG.md
  src/Modules/Bell/BellGateway.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

removed unused report code
  CHANGELOG.md
  client/src/components/Navigation/Admin/NavAdmin.vue
  src/Modules/Report/ReportControl.php
  src/Modules/Report/ReportView.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend

Add editable security page
  CHANGELOG.md
  client/src/helper/urls.js
  client/src/views/partials/Footer/Data/FooterData.json
  migrations/20230710182512_add_security_page.php
  src/Modules/Content/ContentControl.php
  src/Modules/Core/DBConstants/Content/ContentId.php
  src/Permissions/ContentPermissions.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Refactor notification settings page to vue and rest api
  CHANGELOG.md
  client/src/api/notifications.js
  migrations/20230527170559_add_info_type_to_foodsaver_has_bezirk.php
  src/Modules/FoodSharePoint/FoodSharePointTransactions.php
  src/Modules/Foodsaver/FoodsaverGateway.php
  src/Modules/Region/ForumTransactions.php
  src/Modules/Region/RegionGateway.php
  src/Modules/Region/RegionTransactions.php
  src/Modules/Settings/Settings.js
  src/Modules/Settings/SettingsControl.php
  src/Modules/Settings/SettingsGateway.php
  src/Modules/Settings/SettingsView.php
  src/Modules/Settings/components/Notifications.vue
  src/Modules/WorkGroup/WorkGroupGateway.php
  src/RestApi/Models/Notifications/FoodSharePoint.php
  src/RestApi/Models/Notifications/NewsletterChat.php
  src/RestApi/Models/Notifications/Region.php
  src/RestApi/Models/Notifications/Thread.php
  src/RestApi/NotificationsController.php
  tests/acceptance/SettingsCest.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

added a transaction to get passport date - if last_pass is empty there is a fallback to last entry from verification history
  CHANGELOG.md
  src/Modules/PassportGenerator/PassportGeneratorGateway.php
  src/Modules/PassportGenerator/PassportGeneratorTransaction.php
  src/RestApi/VerificationRestController.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

fix api doc build
  src/RestApi/NotificationsController.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Add security.txt
  CHANGELOG.md
  public/security.txt
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Resolve "TypeError: undefined is not an object (evaluating 'e.selectedRegion.name')"
  CHANGELOG.md
  client/src/components/regiontree/RegionTreeVForm.vue
  src/Modules/Foodsaver/FoodsaverView.php
  src/Modules/Settings/SettingsView.php
  src/Modules/Store/DTO/CreateStoreData.php
  src/Modules/Store/DTO/Store.php
  src/Modules/Store/StoreTransactions.php
  src/Modules/StoreUser/components/StoreInformationModal.vue
  tests/unit/StoreGatewayTest.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Temporarily disables store, member, and statistics page for Europe and Germany
  CHANGELOG.md
  src/Modules/Core/DBConstants/Region/RegionIDs.php
  src/Modules/Region/RegionControl.php
  src/Permissions/RegionPermissions.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

fix releaseNotes script
  scripts/releaseNotes.py
Due: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

add label translations to releaseNotes script
  scripts/releaseNotes.py
Due: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Fix storechain searching and removing all kams
  CHANGELOG.md
  client/src/components/MultiUserSearchInput.vue
  client/src/views/pages/ChainList/ChainList.vue
  src/Modules/StoreChain/StoreChainTransactions.php
  tests/api/StoreChainApiCest.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Slot description improvements
  CHANGELOG.md
  src/Modules/StoreUser/components/AddPickupModal.vue
  src/Modules/StoreUser/components/Pickup.vue
  src/Modules/StoreUser/components/RegularPickup.vue
  translations/messages.de.yml
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Follow up notification settings
  CHANGELOG.md
  src/Modules/Region/ForumFollowerGateway.php
  src/Modules/Region/RegionGateway.php
  src/Modules/Settings/components/Notifications.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Add method to FoodsharingController to prepare vue components rendering
  CHANGELOG.md
  src/Lib/FoodsharingController.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Path conditions:
  build:backend-dev: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or ((any of: websocket/**/*) or (any of: docs/**/*, scripts/**/*))))
  build:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:backend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:docs: any of: docs/**/*, scripts/**/*
  test:backend-code: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: src/**/*, config/**/*)
  test:backend-acceptance: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  test:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: client/**/*)
  test:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: websocket/**/*)
