Repository Morgy93/foodsharing-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Path conditions:
  build:backend-dev: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or ((any of: websocket/**/*) or (any of: docs/**/*, scripts/**/*))))
  build:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:backend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:docs: any of: docs/**/*, scripts/**/*
  test:backend-code: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: src/**/*, config/**/*)
  test:backend-acceptance: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  test:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: client/**/*)
  test:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: websocket/**/*)

Translated using Weblate (Spanish)
  translations/messages.es.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Italian)
  translations/messages.it.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Turkish)
  translations/messages.tr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Docs for store permissions
  docs/docs/permissions/store.md
Due: build:backend-dev, build:docs

Add spanish translation
  CHANGELOG.md
  client/src/helper/i18n.js
  client/src/views/partials/Modals/LanguageChooserModal.vue
  release-notes/2023-12.md
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

add bell texts for future changes
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (English)
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (French)
  translations/messages.fr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Norwegian Bokmål)
  translations/messages.nb_NO.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Allow Ambassadors to add more Storemanagers
  CHANGELOG.md
  release-notes/2023-12.md
  src/Modules/Store/StoreManagerAmount.php
  src/Permissions/StorePermissions.php
  tests/api/StoreChainApiCest.php
  tests/unit/StoreMaintainceTransactionsTest.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

allow adding slots when every day has one (Bugfix)
  CHANGELOG.md
  client/src/components/Stores/RegularPickup.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

Follow-ups from Beta-Testing feedback
  CHANGELOG.md
  client/src/components/Markdown/MarkdownInput.vue
  client/src/components/Modals/Store/StoreApplications.vue
  client/src/components/Stores/Pickup/Pickup.vue
  src/Modules/Region/components/SubscribeButton.vue
  src/Modules/Region/components/Thread.vue
  src/Modules/Store/StoreGateway.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

add feature toggles
  .gitlab-ci.yml
  CHANGELOG.md
  client/src/api/featuretoggles.js
  client/src/helper/featuretoggles.js
  client/src/views/pages/FeatureToggles/FeatureToggles.vue
  client/src/views/pages/FoodsharingControllerPageWrapper.vue
  client/src/vue.js
  composer.lock
  config.inc.dev.php
  config.inc.test.php
  config/packages/services.yaml
  docs/docs/deployment/featuretoggles.md
  docs/docs/images/deployment/featuretoggles/featuretoggles-page.png
  migrations/20230704200056_add_feature_toggle_table.php
  src/Command/UpdateFeatureTogglesCommand.php
  src/Lib/Routing.php
  src/Modules/Core/DBConstants/Region/RegionIDs.php
  src/Modules/Development/FeatureToggles/Commands/DeleteUndefinedFeatureTogglesCommand.php
  src/Modules/Development/FeatureToggles/Commands/SaveNewFeatureTogglesCommand.php
  src/Modules/Development/FeatureToggles/Commands/UpdateFeatureToggleStateCommand.php
  src/Modules/Development/FeatureToggles/DependencyInjection/FeatureToggleChecker.php
  src/Modules/Development/FeatureToggles/Enums/FeatureToggleDefinitions.php
  src/Modules/Development/FeatureToggles/Exceptions/FeatureToggleNotDefinedException.php
  src/Modules/Development/FeatureToggles/Querys/GetExistingFeatureToggles.php
  src/Modules/Development/FeatureToggles/Querys/GetFeatureToggleStateQuery.php
  src/Modules/Development/FeatureToggles/Querys/HasPermissionToManageFeatureTogglesQuery.php
  src/Modules/Development/FeatureToggles/Querys/IsFeatureToggleActiveQuery.php
  src/Modules/Development/FeatureToggles/Services/FeatureToggleService.php
  src/Modules/Development/FeatureToggles/Services/FeatureToggleTwigFunctionExtension.php
  src/Modules/FeatureToggles/FeatureToggles.js
  src/Modules/FeatureToggles/FeatureTogglesController.php
  src/RestApi/FeatureToggleRestController.php
  src/RestApi/MessageRestController.php
  src/RestApi/Models/FeatureToggle/FeatureToggle.php
  src/RestApi/Models/FeatureToggle/FeatureTogglesResponse.php
  src/RestApi/Models/FeatureToggle/IsFeatureToggleActiveResponse.php
  templates/layouts/base.twig
Due: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

add contributing hint
  .gitlab/merge_request_templates/Default.md
Due: none
