Repository Morgy93/foodsharing-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

build:backend-dev:
  image: registry.gitlab.com/foodsharing-dev/images/php:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  script:
  - ./scripts/ci-backend-build-dev
  cache:
    key: backend:build:cache
    paths:
    - .php-cs-fixer.php.cache
  artifacts:
    expire_in: 1 day
    paths:
    - assets
    - vendor

build:websocket:
  image: registry.gitlab.com/foodsharing-dev/images/node:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  script:
  - (cd websocket && yarn && yarn lint)
  artifacts:
    expire_in: 1 day
    paths:
    - websocket/node_modules

build:frontend:
  image: registry.gitlab.com/foodsharing-dev/images/node:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  script:
  - (cd client && yarn && yarn lint && yarn build)
  cache:
    key: frontend:build:cache
    paths:
    - client/node_modules
  artifacts:
    expire_in: 1 day
    paths:
  ...

build:backend:
  image: registry.gitlab.com/foodsharing-dev/images/php:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  script:
  - ./scripts/ci-backend-build
  cache:
    key: backend:build:cache
    paths:
    - .php-cs-fixer.php.cache
  artifacts:
    expire_in: 1 day
    paths:
    - assets
    - vendor

build:docs:
  image: registry.gitlab.com/foodsharing-dev/images/docs:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_INITDB_SKIP_TZINFO: 1
  services:
  - name: registry.gitlab.com/foodsharing-dev/images/mariadb:latest
    alias: db
  script:
  ...

test:backend-code:
  image: registry.gitlab.com/foodsharing-dev/images/php:latest
  tags:
  - saas-linux-medium-amd64
  stage: test
  interruptible: true
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_INITDB_SKIP_TZINFO: 1
    TZ: Europe/Berlin
    FF_NETWORK_PER_BUILD: 1
    REDIS_HOST: redis
    FS_ENV: test
    XDEBUG_MODE: coverage
  ...

test:backend-acceptance:
  image: registry.gitlab.com/foodsharing-dev/images/php:latest
  tags:
  - foodsharing-test
  stage: test
  interruptible: true
  timeout: 60 minutes
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_INITDB_SKIP_TZINFO: 1
    TZ: Europe/Berlin
    FF_NETWORK_PER_BUILD: 1
    REDIS_HOST: redis
    FS_ENV: test
  services:
  ...

test:frontend:
  image: registry.gitlab.com/foodsharing-dev/images/node:latest
  tags:
  - saas-linux-medium-amd64
  stage: test
  interruptible: true
  variables:
    REDIS_HOST: redis
  script:
  - (cd client && yarn && yarn test)
  needs:
  - build:frontend
  cache:
    key: frontend:build:cache
    paths:
    - client/node_modules

List common stores in report dialog
  CHANGELOG.md
  src/Modules/Profile/ProfileControl.php
  src/Modules/Profile/ProfileView.php
  src/Modules/Profile/components/ReportRequest.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Fix content page
  CHANGELOG.md
  src/Modules/Content/ContentGateway.php
  src/Permissions/ContentPermissions.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Translated using Weblate (English)
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (French)
  translations/messages.fr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Norwegian Bokmål)
  translations/messages.nb_NO.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

added a validation for login form
  CHANGELOG.md
  client/src/components/Login/LoginForm.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

Refactor pickup modal
  CHANGELOG.md
  src/Modules/StoreUser/components/DeletePickupModal.vue
  src/Modules/StoreUser/components/PickupList.vue
  src/Modules/StoreUser/components/PickupModal.vue
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

fix trySetPickupSlots in PickupModal.vue
  src/Modules/StoreUser/components/PickupModal.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Remove statistics and members from the menu for countries
  CHANGELOG.md
  client/src/components/Navigation/Regions/NavRegionsEntry.vue
  src/Dev/SeedCommand.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend

Remove closed stores in map, dashboard and navigation
  CHANGELOG.md
  src/Modules/Store/StoreTransactions.php
  src/RestApi/MapRestController.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Pickup table improvements
  CHANGELOG.md
  client/src/api/pickups.js
  client/src/components/AvatarStack.vue
  client/src/components/PickupTable/PickupTab.vue
  client/src/components/PickupTable/PickupTable.vue
  client/src/components/PickupTable/PickupsSection.vue
  client/src/views/pages/ChainList/ChainList.vue
  src/Modules/Profile/Profile.js
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend

Refactor email change form and confirmation dialog
  CHANGELOG.md
  client/src/api/settings.js
  client/src/helper/urls.js
  src/Modules/Register/components/RegisterMailAndPassword.vue
  src/Modules/Settings/Settings.js
  src/Modules/Settings/SettingsControl.php
  src/Modules/Settings/SettingsTransactions.php
  src/Modules/Settings/SettingsView.php
  src/Modules/Settings/SettingsXhr.php
  src/Modules/Settings/components/ChangeEmailForm.vue
  src/RestApi/Models/Settings/EmailChangeRequest.php
  src/RestApi/SettingsRestController.php
  templates/emailTemplates/user/change_email.de-de.body.html.twig
  templates/emailTemplates/user/change_email_notification.de-de.body.html.twig
  templates/emailTemplates/user/change_email_notification.de-de.subject.twig
  tests/acceptance/ChangeMailCept.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Update backend dependencies
  CHANGELOG.md
  composer.json
  composer.lock
  phpstan.neon
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Update for our vue leaflet map
  CHANGELOG.md
  client/src/components/map/LeafletLocationPicker.vue
  client/src/components/map/LeafletLocationSearch.vue
  client/src/components/map/LeafletMap.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

Resolve "Invalid cooperation start date in store information dialog"
  CHANGELOG.md
  src/Modules/Store/DTO/Store.php
  src/Modules/Store/StoreGateway.php
  tests/unit/StoreGatewayTest.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

refactor account deletion to vue
  CHANGELOG.md
  src/Modules/Foodsaver/Foodsaver.js
  src/Modules/Settings/Settings.js
  src/Modules/Settings/SettingsControl.php
  src/Modules/Settings/SettingsView.php
  src/Modules/Settings/components/DeleteAccount.vue
  tests/acceptance/DeleteAccountCept.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Follow up store page
  CHANGELOG.md
  client/src/api/stores.js
  client/src/components/Container/Container.vue
  client/src/components/Container/poll/PollContainer.vue
  client/src/components/Modals/Store/StoreApplications.vue
  client/src/components/Modals/Store/StoreInformationModal.vue
  client/src/components/Stores/PickupList.vue
  client/src/components/Stores/StoreInfos.vue
  client/src/components/Stores/StoreOptions.vue
  client/src/components/Stores/StoreTeam/StoreManagementPanel.vue
  client/src/components/Stores/StoreTeam/StoreTeam.vue
  client/src/components/Stores/StoreTeam/StoreTeamAvatar.vue
  client/src/components/Stores/StoreWall.vue
  client/src/mixins/ContainerToggleMixin.js
  client/src/stores/stores.js
  client/src/views/pages/Store/StorePage.vue
  src/Modules/Store/StoreTransactions.php
  src/RestApi/StoreRestController.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Second follow up for store
  CHANGELOG.md
  client/src/components/Container/event/EventContainer.vue
  client/src/components/Container/poll/PollContainer.vue
  client/src/components/Modals/Store/StoreInformationModal.vue
  client/src/components/Stores/Pickup/Pickup.vue
  client/src/components/Stores/PickupList.vue
  client/src/components/Stores/StoreOptions.vue
  client/src/components/Stores/StoreTeam/StoreTeam.vue
  client/src/components/Stores/StoreTeam/StoreTeamInfotext.vue
  client/src/components/Stores/StoreWall.vue
  client/src/views/pages/Store/StorePage.vue
  src/RestApi/StoreRestController.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

prevent loading regularPickups for jumper
  client/src/components/Modals/Store/StoreInformationModal.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

reduce max-rows in StoreInformationModal.vue to prevent rerendering
  client/src/components/Modals/Store/StoreInformationModal.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

removed placeholder for pinnwall
  src/Modules/Core/Control.php
  src/Modules/WallPost/components/Wall.vue
  templates/partials/wall.twig
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Fix container on dashboard. set isReduced from false to true
  client/src/mixins/ContainerToggleMixin.js
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

Updated logo for Denn's
  img/footer/Denns_Biomarkt_logo.svg
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Restrict search permissions
  CHANGELOG.md
  src/Lib/Session.php
  src/Modules/Region/RegionGateway.php
  src/Modules/Search/SearchGateway.php
  src/Modules/Search/SearchTransactions.php
  src/Permissions/SearchPermissions.php
  src/RestApi/SearchRestController.php
  tests/api/SearchApiCest.php
  tests/unit/SearchGatewayTest.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

moved icon to delete search
  client/src/components/Stores/StoreTeam/StoreTeam.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

added sleeping filter
  client/src/components/Stores/StoreTeam/StoreTeam.vue
  client/src/stores/stores.js
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

added sleeping and bv quiz role filter
  client/src/components/Stores/StoreTeam/StoreTeam.vue
  client/src/stores/stores.js
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

added a line break after fourth button
  client/src/components/Stores/StoreTeam/StoreTeam.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

prevent loadRightInfo for store manager
  CHANGELOG.md
  client/src/views/pages/Store/StorePage.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-acceptance, test:frontend

store follow up
  CHANGELOG.md
  client/src/components/Modals/Store/StoreInformationModal.vue
  client/src/components/Stores/StoreOptions.vue
  client/src/components/Stores/StoreTeam/StoreTeam.vue
  client/src/views/pages/Store/StorePage.vue
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Fix the old paths of working group pictures
  CHANGELOG.md
  src/Modules/WorkGroup/WorkGroupControl.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Path conditions:
  build:backend-dev: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or ((any of: websocket/**/*) or (any of: docs/**/*, scripts/**/*))))
  build:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:backend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:docs: any of: docs/**/*, scripts/**/*
  test:backend-code: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: src/**/*, config/**/*)
  test:backend-acceptance: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  test:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: client/**/*)
  test:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: websocket/**/*)
