Repository Morgy93/foodsharing-test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend-dev, build:websocket, build:frontend, build:backend, build:docs, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

build:backend-dev:
  image: registry.gitlab.com/foodsharing-dev/images/php:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  script:
  - ./scripts/ci-backend-build-dev
  cache:
    key: backend:build:cache
    paths:
    - .php-cs-fixer.php.cache
  artifacts:
    expire_in: 1 day
    paths:
    - assets
    - vendor

build:websocket:
  image: registry.gitlab.com/foodsharing-dev/images/node:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  script:
  - (cd websocket && yarn && yarn lint)
  artifacts:
    expire_in: 1 day
    paths:
    - websocket/node_modules

build:frontend:
  image: registry.gitlab.com/foodsharing-dev/images/node:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  script:
  - (cd client && yarn && yarn lint && yarn build)
  cache:
    key: frontend:build:cache
    paths:
    - client/node_modules
  artifacts:
    expire_in: 1 day
    paths:
  ...

build:backend:
  image: registry.gitlab.com/foodsharing-dev/images/php:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  script:
  - ./scripts/ci-backend-build
  cache:
    key: backend:build:cache
    paths:
    - .php-cs-fixer.php.cache
  artifacts:
    expire_in: 1 day
    paths:
    - assets
    - vendor

build:docs:
  image: registry.gitlab.com/foodsharing-dev/images/docs:latest
  tags:
  - saas-linux-medium-amd64
  stage: build
  interruptible: true
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_INITDB_SKIP_TZINFO: 1
  services:
  - name: registry.gitlab.com/foodsharing-dev/images/mariadb:latest
    alias: db
  script:
  ...

test:backend-code:
  image: registry.gitlab.com/foodsharing-dev/images/php:latest
  tags:
  - saas-linux-medium-amd64
  stage: test
  interruptible: true
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_INITDB_SKIP_TZINFO: 1
    TZ: Europe/Berlin
    FF_NETWORK_PER_BUILD: 1
    REDIS_HOST: redis
    FS_ENV: test
    XDEBUG_MODE: coverage
  ...

test:backend-acceptance:
  image: registry.gitlab.com/foodsharing-dev/images/php:latest
  tags:
  - foodsharing-test
  stage: test
  interruptible: true
  timeout: 60 minutes
  variables:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_INITDB_SKIP_TZINFO: 1
    TZ: Europe/Berlin
    FF_NETWORK_PER_BUILD: 1
    REDIS_HOST: redis
    FS_ENV: test
  services:
  ...

test:frontend:
  image: registry.gitlab.com/foodsharing-dev/images/node:latest
  tags:
  - saas-linux-medium-amd64
  stage: test
  interruptible: true
  variables:
    REDIS_HOST: redis
  script:
  - (cd client && yarn && yarn test)
  needs:
  - build:frontend
  cache:
    key: frontend:build:cache
    paths:
    - client/node_modules

Translated using Weblate (Spanish)
  translations/messages.es.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Norwegian Bokmål)
  translations/messages.nb_NO.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Keep unconfirmed fetch dates
  CHANGELOG.md
  release-notes/2023-12.md
  src/Modules/Maintenance/MaintenanceControl.php
  src/Modules/Maintenance/MaintenanceGateway.php
  src/Modules/Region/RegionGateway.php
  src/Modules/Statistics/StatisticsGateway.php
  src/Modules/Stats/StatsGateway.php
  tests/cli/MaintenanceCept.php
  tests/unit/StoreMaintainceTransactionsTest.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Make full store log accessible
  CHANGELOG.md
  client/src/api/pickups.js
  client/src/api/stores.js
  client/src/components/Stores/DateRangePicker.vue
  client/src/components/Stores/PickupHistory.vue
  client/src/components/Stores/SignoutHistory/SignoutHistory.vue
  client/src/components/Stores/SignoutHistory/SignoutHistoryEntry.vue
  client/src/components/Stores/StoreLog.vue
  client/src/components/Stores/StoreLogEntryMessage.vue
  client/src/helper/date-formatter.js
  client/src/views/pages/Store/StorePage.vue
  release-notes/2023-12.md
  src/Modules/Store/StoreGateway.php
  src/Permissions/StorePermissions.php
  src/RestApi/StoreRestController.php
  tests/acceptance/StoreCest.php
  tests/unit/StoreMaintainceTransactionsTest.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

fix last activity if date is „0000-00-00 00:00:00“
  CHANGELOG.md
  src/Lib/Session.php
  src/Modules/Foodsaver/FoodsaverGateway.php
  src/Modules/Profile/ProfileView.php
  src/Modules/Profile/components/ProfileInfos.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Translated using Weblate (English)
  translations/messages.en.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Translated using Weblate (Turkish)
  translations/messages.tr.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Goodbye vMap
  CHANGELOG.md
  client/src/components/map/AddressSearchField.vue
  client/src/components/map/LeafletMap.vue
  client/src/stores/baskets.js
  css/style.css
  src/Lib/View/vMap.js
  src/Lib/View/vMap.php
  src/Lib/View/vMap.test.js
  src/Modules/Basket/Basket.css
  src/Modules/Basket/Basket.js
  src/Modules/Basket/BasketView.php
  src/Modules/Basket/components/BasketLocationMap.vue
  src/Modules/Basket/components/BasketsLocationMap.vue
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

update dev docs during releasing
  docs/docs/deployment/release.md
Due: build:backend-dev, build:docs

fix reaction-button-show-null-als-signer
  CHANGELOG.md
  src/Modules/Region/components/ThreadPostActions.vue
  src/Modules/Search/SearchGateway.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Draft: add confirmation dialogue to thread creation with mail
  CHANGELOG.md
  release-notes/2023-12.md
  src/Modules/Region/RegionControl.php
  src/Modules/Region/components/NewThread.vue
  templates/pages/Region/forum.twig
  tests/acceptance/ForumPostCest.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

rework slot dropdown to modal
  CHANGELOG.md
  client/src/components/Avatar.vue
  client/src/components/Stores/Pickup/Pickup.vue
  client/src/components/Stores/Pickup/TakenSlot.vue
  client/src/stores/stores.js
  client/src/views/pages/Store/StorePage.vue
  release-notes/2023-12.md
  src/Modules/Foodsaver/FoodsaverControl.php
  src/Permissions/StorePermissions.php
  src/RestApi/StoreRestController.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

Fix Content-Length for mail attachment and passport download
  src/Modules/Mailbox/MailboxControl.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Send forum posts as md
  CHANGELOG.md
  client/src/components/Markdown/markdownRenderer.js
  release-notes/2023-12.md
  src/Modules/Region/components/ThreadPost.vue
  src/RestApi/ForumRestController.php
  tests/api/ForumApiCest.php
  translations/messages.de.yml
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance, test:frontend, test:websocket

remove html coding
  CHANGELOG.md
  src/RestApi/ForumRestController.php
Due: build:backend-dev, build:websocket, build:frontend, build:backend, test:backend-code, test:backend-acceptance

Path conditions:
  build:backend-dev: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or ((any of: websocket/**/*) or (any of: docs/**/*, scripts/**/*))))
  build:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:backend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  build:docs: any of: docs/**/*, scripts/**/*
  test:backend-code: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: src/**/*, config/**/*)
  test:backend-acceptance: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or ((any of: src/**/*, config/**/*) or ((any of: client/**/*) or (any of: websocket/**/*)))
  test:frontend: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: client/**/*)
  test:websocket: (any of: css/**/*, docker/**/*, img/**/*, lib/**/*, migrations/**/*, public/**/*, scripts/**/*, templates/**/*, tests/**/*, translations/**/*, .gitlab-ci.yml, .php-cs-fixer.php, codeception.yml, composer.json, composer.lock, config.inc.*, deploy.php, jsconfig.json, phinx.php, phpstan.neon, run.php) or (any of: websocket/**/*)
